.vertical-center_list_your_property {
    margin: 0;
    position: absolute;
    top: 50vmin;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.property-details-button-fix {
    background-color: #172C57;
    color: #F8F7F5;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
}

.custom-text-fix {
    letter-spacing: 1px;
    line-height: 1.5;
}

/*.carousel-control-prev-icon,
.carousel-control-next-icon {
     height: 100px;
    width: 100px; 
    background-size: 100%, 100%; 
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #172C57;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #172C57;
}*/