<div class="container-fluid my-5 searchBarMediumDisplay" style="width: 100%;">
    <div class="row my-3">
        <div class="col-sm-12">
            <h3 class="my-2" style="color: inherit;">
                Find your place for together
            </h3>
            <input type="text" class="form-control fa" placeholder="&#xF041; United States of America" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12">

            <input class="form-control fa" [(ngModel)]="searchBarMediumCheckInDate" placeholder="&#xF274; Check-in"
                required [min]="currentDate | date:'yyyy-MM-dd'" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12">

            <input class="form-control fa" [(ngModel)]="searchBarMediumCheckOutDate" placeholder="&#xF274; Check-out"
                required [min]="currentDate | date:'yyyy-MM-dd'" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12">
            <input type="text" placeholder="&#xF2C0; No of Guest" class="form-control fa" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12">
            <input type="text" placeholder="&#xf1ae; No of Children" class="form-control fa" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12">
            <input type="text" placeholder="Pets" class="form-control fa" />
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-12">
            <button class="btn form-control searchbar-button-fix" (click)="onCheckDateAvailabilityMedium()"
                [disabled]="searchBarMediumShowLoading">
                <i class="fa fa-spinner fa-spin " *ngIf="searchBarMediumShowLoading"></i>&nbsp;&nbsp;
                <span *ngIf="searchBarMediumShowLoading===true">Loading...</span> <span
                    *ngIf="searchBarMediumShowLoading !==true">Search</span></button>
        </div>
    </div>
</div>